<% if @stations %>
  <h2>Stations within 6 miles:</h2>
    <table>
      <thead>
        <th>Station</th>
        <th>Address</th>
        <th>Fuel Types</th>
        <th>Distance</th>
        <th>Access Times</th>
      </thead>

      <tbody>
       <% @stations.each do |station| %>
        <tr>
          <td class="station"><%= station.name %></td>
          <td class="station-address"><%= station.address %></td>
          <td class="station-fuel-types"><%= station.fuel_types %></td>
          <td class="station-distance"><%= station.distance %></td>
          <td class="station-access-times"><%= station.access_times %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>